button{
    width: 90px;
    height: 60px;
}

.calculator-container{
    width:450px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.output{
    border:2px solid green;
    height: 40px;
    width : 368px;  /* width has been found : the 4 buttons had a border of 2px which give us 8 more pixels from their width values (360) */
    background-color : black;
    color:white;
}

/* 
*{
    border:2px solid red;
    margin:5px;
}
 */
