html,body{
    background-color: green;
}

/* *{
    border:2px solid red;
    margin:2px;
} */

div{
    font-size: 0;   /* this stops buttons from being distant to each other */
}
button{
    width: 93px;
    height: 60px;
}

.calculator-container{
    border:10px solid burlywood;
    width:372px;
    background-color:darkolivegreen;
    margin-left: auto;
    margin-right: auto;
    height:auto;
}

.output{
    border:3px solid black;
    height: 40px;
    width : 368px; 
    background-color : snow;
    color:white;
    font-size: 32px;
    color:black;
}

#float{
    width: 372px;
    font-size: 32px;
    line-height: normal;

}

#backspace{
    width: 372px;
}

#division,#multiplication,#addition,#subtraction{
    border-radius: 15px;
}


 #division{
    background-color:darkslateblue;
 }

 #multiplication{
    background-color:darkslateblue;
 }

 #addition{
    background-color:darkslateblue;
 }

 #subtraction{
    background-color:darkslateblue;
 }


 #float,
 #backspace{
    background-color:cadetblue ;
    border-radius: 10px;
 }

 .numbers{
    background-color: darkslategrey;
    border-radius: 15px;

 }

 .result,
 .clear{
    background-color: darkorange;
 }